<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="sandboxTest" thread-count="2" parallel="methods" >
    <test name="BrowserTest" >
        <classes>
            <class name="frameworkSandbox.BrowserTest" />
        </classes>
    </test>
</suite>